In [1]:
import sys
sys.path.append('../')

In [2]:
path1 = "/Users/Jon/Developer/workspace/tbi/opendbm/open_dbm/sample_data/subj02_timepoint01.mp4"
path2 = "/Users/Jon/Developer/workspace/tbi/opendbm/open_dbm/sample_data/subj02_timepoint01.wav"
path3 = "/Users/Jon/Developer/workspace/tbi/opendbm/open_dbm/sample_data/subj01_timepoint02.wav"

In [3]:
path1 = "../sample_data/opendbmfacialtest_v1.mp4"
path2 = f"{path1[:-4]}.wav"

In [4]:
from opendbm.verbal_accoustics import VerbalAccoustics
m = VerbalAccoustics()
m.fit(path2)

WARNING:py.warnings:../dbm_lib/config/config_reader.py:26: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config = yaml.load(ymlfile)

WARNING:py.warnings:../dbm_lib/config/config_raw_feature.py:27: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config = yaml.load(ymlfile)

WARNING:py.warnings:../dbm_lib/config/config_derive_feature.py:27: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config = yaml.load(ymlfile)

INFO:root:Converting stereo sound to mono-lD

In [5]:
au = m.get_audio_intensity()
au.to_dataframe()

         aco_int  Frames                           dbm_master_url error_reason
0       6.085870       0  ../sample_data/opendbmfacialtest_v1.wav         Pass
1       8.661065       1  ../sample_data/opendbmfacialtest_v1.wav         Pass
2      11.588540       2  ../sample_data/opendbmfacialtest_v1.wav         Pass
3      15.652601       3  ../sample_data/opendbmfacialtest_v1.wav         Pass
4      18.861861       4  ../sample_data/opendbmfacialtest_v1.wav         Pass
...          ...     ...                                      ...          ...
87910 -24.134457   87910  ../sample_data/opendbmfacialtest_v1.wav         Pass
87911 -23.487538   87911  ../sample_data/opendbmfacialtest_v1.wav         Pass
87912 -26.215761   87912  ../sample_data/opendbmfacialtest_v1.wav         Pass
87913 -28.931727   87913  ../sample_data/opendbmfacialtest_v1.wav         Pass
87914 -31.134230   87914  ../sample_data/opendbmfacialtest_v1.wav         Pass

[87915 rows x 4 columns]

In [5]:
au.mean()

aco_int    51.94788
dtype: float64

In [6]:
au.std()

aco_int    7.004789
dtype: float64

In [7]:
vp  = m.get_voice_prevalence()
vp.to_dataframe()

,aco_voiceframe,aco_totvoiceframe,aco_voicepct,error_reason,Frames,dbm_master_url
0,79,496,15.927419,Pass,0,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [8]:
vp.mean()

aco_voiceframe        79.000000
aco_totvoiceframe    496.000000
aco_voicepct          15.927419
dtype: float64

In [9]:
vp.std()

aco_voiceframe      NaN
aco_totvoiceframe   NaN
aco_voicepct        NaN
dtype: float64

In [10]:
pr  = m.get_pause_characteristics()
pr.to_dataframe()

,aco_totaltime,aco_speakingtime,aco_numpauses,aco_pausetime,aco_pausefrac,error_reason,dbm_master_url
0,2.9,2.12,1,0.78,0.268966,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [11]:
pr.mean()

aco_totaltime       2.900000
aco_speakingtime    2.120000
aco_numpauses       1.000000
aco_pausetime       0.780000
aco_pausefrac       0.268966
dtype: float64

In [12]:
pr.std()

aco_totaltime      NaN
aco_speakingtime   NaN
aco_numpauses      NaN
aco_pausetime      NaN
aco_pausefrac      NaN
dtype: float64

In [16]:
sh  = m.get_shimmer()
sh.to_dataframe()

     aco_shimmer error_reason  Frames                           dbm_master_url
0            NaN         Pass       0  ../sample_data/opendbmfacialtest_v1.wav
1            NaN         Pass       1  ../sample_data/opendbmfacialtest_v1.wav
2            NaN         Pass       2  ../sample_data/opendbmfacialtest_v1.wav
3       0.223868         Pass       3  ../sample_data/opendbmfacialtest_v1.wav
4            NaN         Pass       4  ../sample_data/opendbmfacialtest_v1.wav
..           ...          ...     ...                                      ...
206          NaN         Pass     206  ../sample_data/opendbmfacialtest_v1.wav
207          NaN         Pass     207  ../sample_data/opendbmfacialtest_v1.wav
208          NaN         Pass     208  ../sample_data/opendbmfacialtest_v1.wav
209          NaN         Pass     209  ../sample_data/opendbmfacialtest_v1.wav
210          NaN         Pass     210  ../sample_data/opendbmfacialtest_v1.wav

[211 rows x 4 columns]

In [17]:
sh.mean().item()

0.20187218917114955

In [20]:
sh.std().item()

0.058466862916901764

In [19]:
jtt  = m.get_jitter()
jtt.to_dataframe()

     aco_jitter error_reason  Frames                           dbm_master_url
0           NaN         Pass       0  ../sample_data/opendbmfacialtest_v1.wav
1           NaN         Pass       1  ../sample_data/opendbmfacialtest_v1.wav
2           NaN         Pass       2  ../sample_data/opendbmfacialtest_v1.wav
3      0.052060         Pass       3  ../sample_data/opendbmfacialtest_v1.wav
4           NaN         Pass       4  ../sample_data/opendbmfacialtest_v1.wav
..          ...          ...     ...                                      ...
206         NaN         Pass     206  ../sample_data/opendbmfacialtest_v1.wav
207    0.026022         Pass     207  ../sample_data/opendbmfacialtest_v1.wav
208         NaN         Pass     208  ../sample_data/opendbmfacialtest_v1.wav
209         NaN         Pass     209  ../sample_data/opendbmfacialtest_v1.wav
210         NaN         Pass     210  ../sample_data/opendbmfacialtest_v1.wav

[211 rows x 4 columns]

In [9]:
jtt.mean().item()

0.04140350698268413

In [10]:
jtt.std().item()

0.026209854417972963

In [11]:
gne  = m.get_glottal_noise()
gne.to_dataframe()

      aco_gne error_reason  Frames                           dbm_master_url
0         NaN         Pass       0  ../sample_data/opendbmfacialtest_v1.wav
1    0.859992         Pass       1  ../sample_data/opendbmfacialtest_v1.wav
2         NaN         Pass       2  ../sample_data/opendbmfacialtest_v1.wav
3    0.794469         Pass       3  ../sample_data/opendbmfacialtest_v1.wav
4         NaN         Pass       4  ../sample_data/opendbmfacialtest_v1.wav
..        ...          ...     ...                                      ...
206       NaN         Pass     206  ../sample_data/opendbmfacialtest_v1.wav
207  0.949382         Pass     207  ../sample_data/opendbmfacialtest_v1.wav
208       NaN         Pass     208  ../sample_data/opendbmfacialtest_v1.wav
209  0.937612         Pass     209  ../sample_data/opendbmfacialtest_v1.wav
210       NaN         Pass     210  ../sample_data/opendbmfacialtest_v1.wav

[211 rows x 4 columns]

In [14]:
gne.mean().item()

0.8628717796229132

In [15]:
gne.std().item()

0.10651690189910552

In [22]:
hnr  = m.get_harmonic_noise()
hnr.to_dataframe()

,aco_hnr,Frames,dbm_master_url,error_reason
0,NaN,0,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
1,NaN,1,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
2,NaN,2,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
3,NaN,3,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4,NaN,4,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
...,...,...,...,...
4961,NaN,4961,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4962,NaN,4962,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4963,NaN,4963,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4964,NaN,4964,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass
4965,NaN,4965,/Users/Jon/Developer/workspace/tbi/opendbm/ope...,Pass

In [23]:
hnr.mean()

aco_hnr   -0.668766
dtype: float64

In [24]:
hnr.std()

aco_hnr    6.283761
dtype: float64

In [25]:
ff  = m.get_formant_frequency()
ff.to_dataframe()

,aco_fm1,aco_fm2,aco_fm3,aco_fm4,error_reason,Frames,dbm_master_url
0,NaN,NaN,NaN,NaN,Pass,0,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
1,NaN,NaN,NaN,NaN,Pass,1,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
2,NaN,NaN,NaN,NaN,Pass,2,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
3,NaN,NaN,NaN,NaN,Pass,3,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4,NaN,NaN,NaN,NaN,Pass,4,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
...,...,...,...,...,...,...,...
4964,866.606512,2008.699254,2861.235021,4045.568591,Pass,4964,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4965,874.661040,1994.873464,2903.789001,4109.787584,Pass,4965,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4966,881.650335,1979.011524,2927.158220,4180.676927,Pass,4966,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4967,NaN,NaN,NaN,NaN,Pass,4967,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4968,NaN,NaN,NaN,NaN,Pass,4968,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [26]:
ff.mean()

aco_fm1     769.879045
aco_fm2    1860.056469
aco_fm3    2828.488673
aco_fm4    4063.592980
dtype: float64

In [27]:
ff.std()

aco_fm1    279.143637
aco_fm2    341.636625
aco_fm3    438.579781
aco_fm4    437.474388
dtype: float64

In [28]:
pf  = m.get_pitch_frequency()
pf.to_dataframe()

,aco_ff,Frames,aco_voicelabel,error_reason,dbm_master_url
0,0.0,0,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
1,0.0,1,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
2,0.0,2,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
3,0.0,3,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4,0.0,4,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
...,...,...,...,...,...
4948,0.0,4948,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4949,0.0,4949,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4950,0.0,4950,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4951,0.0,4951,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...
4952,0.0,4952,no,Pass,/Users/Jon/Developer/workspace/tbi/opendbm/ope...

In [29]:
pf.mean()

aco_ff    20.139863
dtype: float64

In [30]:
pf.std()

aco_ff    53.386741
dtype: float64